*{
	margin: 0;
	padding:0;
}

.wrapper{
	width: 1170px;
	margin:auto; 
}

header{
	background: url("image/background7.jpg");
	height:100vh;
	background-size:20%;
	background-position: center center;
	position: relative;
}

.nav-area{
	float: right;
	list-style: none;
	margin-top: 30px;

}

.nav-area li{
	display: inline-block;
}

.nav-area li a{
	color: #fff;
	text-decoration: none;
	padding: 5px 20px;
	font-family:poppins;
	font-size: 16px;
}

.nav-area li a:hover{
	background: #fff;
	color: #333;
}

.logo img{
	width: 100px;
	float: left;
	height: auto;
}

.title-text{
	position:absolute;
	width: 600px;
	height: 300px;
	margin: 20% 30%;
	text-align:left;

}

.title-text h1{
	text-align: center;
	color: #fff;
	text-transform:uppercase;
	font-size: 30px;
}

